
*.class
*.apk
*.ap_
*.aab
*.dex
*.log
.gradle/
.kotlin/
build/
/*/build/

local.properties

.externalNativeBuild/
.cxx/
*.iml


.idea/


.DS_Store
Thumbs.db

*.jks
*.keystore
/*/release/
release/

/app/src/main/cpp/ncnn-*
/app/src/main/cpp/opencv-*