<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 停止自动云备份 -->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_label}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cubesolver"
        tools:replace="android:allowBackup">

        <!-- 阻止分屏、屏幕旋转及暗色模式切换时重建 Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="${app_label}"
            android:theme="@style/Theme.Cubesolver"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>